<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta name="robots" content="<%- theme.robots %>">
    <!-- 渲染优化 -->
    <meta name="renderer" content="webkit">
    <meta name="force-rendering" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="HandheldFriendly" content="True" >
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <title><%- (config.resume && config.resume.title) ? config.resume.title : theme.resume.title %></title>
    <% if (config.keywords){ %>
      <meta name="keywords" content="<%- config.keywords %>">
    <% } %>
    <% if (config.description){ %>
      <meta name="description" content="<%- config.description %>">
    <% } %>

    <!-- import meta -->
    <% if (config.import && config.import.meta){ %>
      <% (config.import.meta||[]).forEach(function(item){ %>
        <%- item %>
      <% }) %>
    <% } %>
    <!-- import link -->
    <% if (config.import && config.import.link){ %>
      <% (config.import.link||[]).forEach(function(item){ %>
        <%- item %>
      <% }) %>
    <% } %>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.12.1/css/all.min.css">
    <% if (theme.cdn.fancybox && theme.cdn.fancybox.css) { %>
      <%- css(theme.cdn.fancybox.css) %>
    <% } %>
    <!-- style.css -->
    <% if (theme.cdn.css && theme.cdn.css) { %>
      <%- css(theme.cdn.css) %>
    <% } else { %>
      <%- css('css/page') %>
    <% } %>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.21/dist/vue.min.js"></script>

    <script>
      Vue.config.productionTip = false
      window.PAGE_TYPE = "resume"
    </script>

  </head>
  <body class="docs">
    <div id="mobile-bar">
      <a class="menu-button fas fa-bars"></a>
      <h2 class="nav-title"><%- (config.resume && config.resume.title) ? config.resume.title : theme.resume.title %></h2>
      <% if (config.resume && config.resume.download) { %>
        <a class="menu-button right fas fa-download" href="<%- config.resume.download.url %>"></a>
      <% } %>
    </div>

    <div id="main" class="fix-sidebar">
      <%- body %>
    </div>
    <% if (theme.cdn.smooth_scroll) { %>
      <%- js(theme.cdn.smooth_scroll) %>
    <% } else { %>
      <%- js(['js/smooth-scroll.min.js']) %>
    <% } %>

    <footer id="footer">
      <% if (theme.footer.copyright) { %>
        <p><%- markdown(theme.footer.copyright) %></p>
      <% } %>
      <% if (theme.footer.counter) { %>
        <p>本站总访问量为 <span id="busuanzi_value_site_pv"><i class="fas fa-spinner fa-spin fa-fw" aria-hidden="true"></i></span> 次</p>
        <script async src="https://cdn.jsdelivr.net/gh/xaoxuu/cdn-busuanzi@2.3/js/busuanzi.pure.mini.js"></script>
      <% } %>
    </footer>

    <%- js(theme.cdn.jquery) %>
    <% if (theme.cdn.common) { %>
      <%- js(theme.cdn.common) %>
    <% } else { %>
      <%- js(['js/common.js']) %>
    <% } %>
    <% if (theme.cdn.escape) { %>
      <%- js(theme.cdn.escape) %>
    <% } else { %>
      <%- js(['js/css.escape.js']) %>
    <% } %>

    <% if (theme.cdn.fancybox && theme.cdn.fancybox.js) { %>
      <script src="<%- theme.cdn.fancybox.js %>"></script>
      <script>
        let LAZY_LOAD_IMAGE = "<%- config.lazyload %>";
        $("body").find("fancybox").find("img").each(function () {
            var element = document.createElement("a");
            $(element).attr("data-fancybox", "gallery");
            $(element).attr("href", $(this).attr("src"));
            /* 图片采用懒加载处理时,
             * 一般图片标签内会有个属性名来存放图片的真实地址，比如 data-original,
             * 那么此处将原本的属性名src替换为对应属性名data-original,
             * 修改如下
             */
             if (LAZY_LOAD_IMAGE) {
               $(element).attr("href", $(this).attr("data-original"));
             }
            $(this).wrap(element);
        });
      </script>
    <% } %>

  </body>
</html>
