<div class="sidebar">
  <div class="sidebar-inner">
    <header class='header'><h2><%- page.name %></h2>
      <div class='meta'>
        <% (page.contact||[]).forEach(function(value){ %>
          <p><a <%if(value.url){%>href='<%- value.url %>'<%}%>>
            <i class="<%- value.icon %> fa-fw"></i>&nbsp;<%- value.text %></a></p>
        <%})%>
      </div>
    <hr><br>
    </header>
    <div class="list">
      <ul class="menu-root">
        <% site.pages.sort('order').each(function (p) { %>
          <li>
            <a href="<%- url_for(p.path) %>" class="sidebar-link<%- page.title === p.title ? ' current' : '' %><%- p.is_new ? ' new' : '' %>"><%- p.title %></a>
          </li>
        <% }) %>
      </ul>
    </div>
    <% if (page.download) { %>
      <div class="footer">
        <a class="button" href="<%- page.download.url %>"><i class="<%- page.download.icon %>"></i> <%- page.download.title %></a>
      </div>
    <% } %>
  </div>
</div>

<div class="content with-sidebar">
  <%- page.content %>
</div>
